body{
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/swirl_pattern.png);
	text-align: center;
}
.hint{
	min-height: 20px;
	width: 20%;
}

#h1{
	text-align: center;
	color: red;
	font-weight: bolder;
	font-size: 60px;
}
#h2{
	font-size: 30px;
	font-weight: bold;
}
#info{
	text-align: center;
	font-weight: bold;
	color: brown;
	border-color: black;
	border-style: solid;
}
.test{
	width:100%;
	min-height: 30px;
	text-align: left;
	color: purple;
	font-weight: bolder;
	padding: 5px;
}
